<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Описание проекта</title>
</head>

<body style="background: bisque">
    <h2 th:text="${descName}"></h2>
    <h2 th:text="${descText}" style="font-size: 22px"></h2>
    <a href="main" style="text-decoration: none; font-size: 21px">Вернуться на главную страницу..</a>
</body>

</html>