<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rozetkaParser</title>
</head>

<body style="background: bisque">
    <h1>Меню:</h1>
    <a href="desc" style="text-decoration: none; font-size: 21px; padding-bottom: 10px; display: block">1. К описанию проекта..</a>
    <a href="parser" style="text-decoration: none; font-size: 21px; display: block">2. Перейти к парсеру..</a>
</body>

</html>