<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Парсер сайта "Розетка"</title>
</head>

<body style="background: bisque">
    <h2 th:text="${parserDesc}"></h2>
    <h2 th:text="${parserNotification}" style="font-size: 24px; color: red"></h2>
    <form action="/injection" method="POST">
        <label for="name" style="font-size: 20px">Что ищем?</label>
        <br>
        <br>
        <input type="text" id="name" name="name" style="padding: 8px; border: 1px solid black">
        <br>
        <br>
        <input type="submit" id="button" value="Искать товар" style="border: 1px solid black; padding: 8px; background: aliceblue; margin-bottom: 10px; cursor: pointer">
    </form>
    <a href="main" style="text-decoration: none; font-size: 21px">Вернуться на главную страницу..</a>
</body>

</html>